@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* utility classes */
.padding {
    padding: 1vh 13vw;
}

::placeholder {
    color: rgb(150, 150, 150);
}

.b-border {
    border-bottom: 1px solid rgba(128, 128, 128, 0.238);
}
.hover:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* top section */
section.section-before-header {
    display: flex;
    justify-content: space-between;
}

.section-left {
    display: flex;
}

div.section-left-box {
    background-color: rgba(211, 211, 211, 0.382);
    margin: 0 0.5vh;
    border-radius: 5px;
}

.section-left-box>i {
    cursor: pointer;
    color: gray;
    margin: 0.5vh;
    border-radius: 3px;
}

p.section-center {
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.5vh;
    color: gray;
    text-transform: capitalize;
    font-variant: small-caps;
}

.section-right {
    display: flex;
    font-size: 0.75rem;
    margin-top: 0.5vh;
    color: gray;
    text-transform: capitalize;
    font-variant: small-caps;
}

.section-right>p>i {
    margin: 1vw;
    color: black;
    cursor: pointer;
}

/* header */

header {
    margin: 2vh;
    display: flex;
    justify-content: space-between;
}

header>h1 {
    color: lightpink;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}

div.searchbox {
    border: 1px solid rgba(0, 0, 0, 0.171);
    width: 50%;
    height: 40px;
    padding: 0 1vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.searchbox>input {
    height: 100%;
    font-size: 1rem;
    flex: 1;
    outline: none;
    border: none;
}

.searchbox>i {
    padding: 0 1vw;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.342);
}

.header-right>i {
    cursor: pointer;
    margin: 0.5vw;
    font-size: 1.5rem;
}

/* navigation bar */
.nav-bar {
    margin: 2vh;
    padding: 0 25vw;
    display: flex;
    justify-content: space-between;
}

p.nav-item {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: small;
    font-weight: bold;
    color: rgb(82, 82, 82);
}

p>a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}

/* banner box */

div.banner {
    max-width: 60vw;
    background-image: url('../banner-1.jpg');
    background-size: cover;
    background-position: center center;    
    background-color: gray;
    height: 54vh;
    width: 60vw;
    margin: 2vh auto;
    display: flex;
    align-items: center;
}

div.banner-box {
    position: relative;
    left: 5vw;
}

p.trending {
    color: rgb(245, 160, 173);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2rem;
    margin: 1.5vh 0vw;
}

h1.women-sale {
    font-weight: 900;
    font-size: 2.1rem;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.835);
    margin: 1.5vh 0vw;
}

p.start-price {
    color: gray;
    font-size: 1.2rem;
    margin: 1.5vh 0vw;
}

span.twenty {
    color: gray;
    font-size: 1.5rem;
    font-weight: bold;

}

a.button {
    text-decoration: none;
    padding: 1vh 1vw;
    background-color: rgb(255, 161, 176);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: small;
}

/* wear section */


div.section-wear {
    margin-top: 5vh;
    padding: 1vh 14.5vw;
    display: flex;
    justify-content: space-between;
}

div.box {
    display: flex;
    width: 16vw;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.56);
}
.box:hover{
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 3px 8px;
    cursor: pointer;
}

div.right-icon {
    background-image: url('dress.svg');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 3px;
    /* border: 1px solid rgba(128, 128, 128, 0.392); */
    margin: 1vh;
    width: 24%;
    height: 50px;
    background-color: rgba(211, 211, 211, 0.619);
}

div.svg2 {
    background-image: url('coat.svg');
}

div.svg3 {
    background-image: url('glasses.svg');
}

div.svg4 {
    background-image: url('shorts.svg');
}

div.left-info {
    margin: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-type {
    color: black;
    font-size: 0.8rem;
}

.product-quantity {
    color: gray;
    font-size: 0.7rem;
}

a.show-all {
    margin-top: 15px;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: bold;
    color: pink;
}

/* left section starts here */
section.container {
    margin: 3vh 0;
}
aside{
    top: 1vh;
    width: 18vw;
    position: sticky;
    left: 13vw;
}
.left-section {
    box-sizing: border-box;
    width: 18vw;
    display: flex;  
    flex-direction: column;
}
.category {
    margin: 1vh 2vw;
    display: flex;
    flex-direction: column;
}
div.cat-box {
    cursor: pointer;
    display: flex;
    margin: 1vh;
    border-radius: 5px;
    padding: 3px;
}

div.cat-box:hover {
    box-shadow: 0px 0px 2px 1px gray;
}

div.cat-icon {
    margin-right: 10px;
    width: 20px;
    background-image: url('dress.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
div.jew {
    background-image: url('jewelry.svg');
}

div.foot {
    background-image: url('shorts.svg');
}

div.glasses {
    background-image: url('glasses.svg');
}

div.perfume {
    background-image: url('perfume.svg');
}

div.cos {
    background-image: url('cosmetics.svg');
}

div.bag {
    background-image: url('bag.svg');
}

p.plus {
    position: absolute;
    margin-left: 12vw;
}
div.best-sellers {
    margin: 1vh 2vw;
}
div.bs-box {
    margin: 1vh 0;
    width: 100%;
    display: flex;
}
.bs-box:hover{
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.247) 0px 3px 8px;
    cursor: pointer;
}
div.left-icon {
    width: 20%;
    height: 50px;
    background-repeat: no-repeat;
    background-image: url('dress.svg');
    background-position: center center;
    background-size: 60%;
    background-color: rgba(128, 128, 128, 0.071);
    border-radius: 3px;
}

div.tshirt {
    background-image: url('2.jpg');
}

div.gtshirt {
    background-image: url('3.jpg');
}

div.hat {
    background-image: url('4.jpg');
}

.right-details {
    padding-left: 3px;
    font-size: small;
}
.rating {
    color: rgb(224, 174, 25);
}
.price {
    color: rgb(255, 91, 116);
    font-size: 0.8rem;
    font-weight: bold;
}
.notprice {
    color: gray;
    font-size: 0.7rem;
    font-weight: normal;
    padding-bottom: 2px;
}


/* right container starts here */
.right-container {
    width: 60vw;
    min-width: 30vw; 
    flex-wrap: wrap;
    position: relative;
    left: 36vw;
    margin: 0vh -2vw;
}
.section1 {
    display: flex;
    justify-content: space-evenly;
}
.section1-container {
    margin-top: 2vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.section1-container .right-icon {
    width: 50%;
    background-color: white;
    background-image: url('clothes-1.jpg');
    background-size: cover;
    background-position: center center;
}

.box .shoe1 {
    background-image: url('sports-1.jpg');
    background-size: 100%;
}

.box .watch3 {
    background-image: url('watch-3.jpg');
    background-size: 100%;
}

.section1-container .clothes2 {
    background-image: url('clothes-2.jpg');
    background-size: 100%;
}

.section1-container .shoe1 {
    background-image: url('sports-1.jpg');
    background-size: 100%;
}

.section1-container .shoe1 {
    background-image: url('sports-1.jpg');
    background-size: 100%;
}

.section1-container .left-info {
    display: flex;
    justify-content: space-between;
}

.section1-container p.bs-item {
    font-size: 0.8rem;
    color: gray;
}

.section1-container .box {
    margin: 1vh 0.5vw;
}

.deal {
    width: 78%;
    margin: 4vh 0;
}

.oldspice {
    border-radius: 5px;
    padding: 1vw;
    border: 1px solid rgba(128, 128, 128, 0.123);
    display: flex;
    height: 50vh;
    width: 85%;
    /* background-color: rgb(175, 175, 175); */
}

.oldspice .left-photo {
    background-color: gray;
    width: 40%;
    height: 100%;
    background-image: url('shampoo.jpg');
    background-position: center center;
    background-size: cover;;
}

.right-about {
    margin-left: 1vw;
    display: flex;
    width: 60%;
    flex-direction: column;
}

.right-about .p-name {
    font-size: 1rem;
}

.right-about .p-about {
    color: gray;
    font-size: 0.8rem;
    width: 100%;
}

.right-about .price {
    margin: 1vh 0;
    font-size: 1.5rem;
}

.right-about .notprice {
    margin: 1vh 0;
    font-size: 1.3rem;
}

.right-about .button {
    text-align: center;
    margin: 1vh 0;
    width: 25%;
    background-color: rgb(255, 109, 133);
}
.availability {
    width: 75%;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
  .sale-bar-progress {
    width: 75%;
    padding: 0.1rem;
    background-color: #ededed;
    border-radius: 10px;
  }
  
  .sale-bar-progress span {
    display: block;
    width: 50%;
    background-color: #ff8f9d;
    height: 0.3rem;
    border-radius: 10px;
  }
  
  .time-box {
    box-sizing: border-box;
    display: flex;
    width: 55%;
    gap: 1.5rem;
  }
  
  .time {
    margin: 1vh 0;
    width: 7rem;
    padding: 1rem;
    background-color: #eceded;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    color: #000;
  }
  .bold{
    font-weight: bold;
  }
  .time span:last-child {
    font-size: 0.8rem;
  }
  /* end */
.newprod-container {
    margin: 2vh 0;
    border-radius: 5px;
    padding: 1vw;
    border: 1px solid rgba(128, 128, 128, 0.349);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    width: 50vw;
}

.newprod-item {
    margin: 1vh 0;
    display: flex;
    flex-direction: column;
    padding: 1vh;
    height: 36vh;
    width: 11vw;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.151);
}
.newprod-item:hover {
    transition: all 0.3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 3px 8px;
    cursor: pointer;
}
.up-photo {
    background-color: gray;
    width: 100%;
    height: 60%;
    background-image: url('jacket-3.jpg');
    background-position: center center;
    background-size: cover;
}

.down-detail {
    height: 40%;
    margin: 1vh 0;
}

.prod-type {
    color: rgb(255, 116, 139);
    font-size: 0.8rem;
    font-weight: bold;
}

.prod-name {
    font-size: 0.8rem;
}

.down-detail .price {
    color: black;
    margin: 0;
}

/* section 2 */
.section2 {
    padding: 0 14vw;
}

.section2-headings {
    margin: 2vh 0;
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.section2-headings .b-border {
    width: 15vw;
}

.section2-content {
    display: flex;
    justify-content: space-between;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40vh;
    width: 14vw;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.151);
    padding: 2vh;
}

.testimonial .pic {
    border: 1px solid rgba(128, 128, 128, 0.151);
    background-image: url('1656055591143.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 1vh 0;
    padding: 1vh;
}

.fa-quote-left {
    color: rgb(255, 129, 150);
}

.quote {
    width: 80%;
}

.section2-banner {
    display: flex;
    margin: 0 auto;
    background-color: yellowgreen;
    background-image: url('cta-banner.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
    height: 45vh;
    width: 35vw;
    justify-content: center;
    align-items: center;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 28vh;
    width: 17vw;
    background-color: rgba(255, 255, 255, 0.452);
    text-align: center;
    border-radius: 10px;
}

p.off {
    padding: 1vh;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    width: 8vw;
    border-radius: 5px;
}

p.start {
    color: gray;
    font-size: 0.8rem;
    font-weight: 500;
}

.offer a {
    margin-top: 1vh;
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
    font-weight: 500;
}

.our-services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;
    width: 14vw;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.151);
    padding: 2vh;
}

.service {
    display: flex;
    padding: 0.5vh;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.151);

}

.service-left {
    width: 30%;
    background-image: url('delivery.svg');
    background-position: center center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.service-right {
    width: 80%;
}

.service-name {
    font-weight: bold;
    color: rgb(255, 133, 154);
    font-size: 0.8rem;
}

.service-term {
    font-size: 0.75rem;
    color: gray;
}

.blog-container {
    margin: 6vh 0;
}

.banners {
    display: flex;
    justify-content: space-between;
}

.blog {
    background-color: white;
    border-radius: 10px;
    background-position: center center;
    background-size: cover;
    width: 17vw;
    height: 22vh;
}
.blog:hover{
    transition: all 0.5s ease-out;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 3px 8px;
    cursor: pointer;
}

.bnr1 {
    background-image: url('blog-1.jpg');
}

.bnr2 {
    background-image: url('blog-2.jpg');
}

.bnr3 {
    background-image: url('blog-3.jpg');
}

.bnr4 {
    background-image: url('blog-4.jpg');
}

.blog-title {
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 0.5vh;
}

.blog-box {
    cursor: pointer;
    margin: 0 1vw;
}

.title {
    font-size: 0.8rem;
    color: rgb(255, 151, 168);
}

.blog-heading {
    font-size: 0.8rem;
    font-weight: ;
}

.author {
    color: gray;
    font-size: 0.8rem;
}

/* footer */
footer {
    background-color: rgb(44, 44, 44);
}

.f-section1 {
    padding: 5vh 0;
    max-width: 70vw;
    margin: 0 auto;
}

.brand {
    margin: 1vh 0;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 155, 172);
}

.f-section1 p {
    font-size: 0.8rem;
    margin: 2vh 0;
    color: gray;
}

.f-section1 span {
    color: darkgray;
    font-weight: bold;
    font-size: 0.8rem;
}

.f-section2 {
    padding: 5vh 0;
    max-width: 70vw;
    margin: 0 auto;
}

.f-section2-container {
    display: flex;
    justify-content: space-between;
}

.f-section2-box {
    width: 15vw;
    padding: 1vh;
}

.cat {
    border-bottom: 1px solid pink;
    margin-bottom: 1vh;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

.f-section2-item {
    margin: 1.5vh 0;
    color: lightgray;
    font-size: 0.8rem;
}

.location,
.fa-city,
.fa-phone,
.fa-envelope,
.number,
.email {
    margin: 1.2vh 0;
    color: lightgray;
    font-size: 0.8rem;
}

.f-section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    padding: 5vh 0;
    text-align: center;
    max-width: 70vw;
    margin: 0 auto;
    color: lightgray;
    font-size: 0.8rem;
}

.copyright {
    margin: 1vh 0;
}